# Introduction to Julia 1.1.0 (tutorial notes)
Notes from following Derek Banas' [Julia tutorial](https://www.youtube.com/watch?v=sE67bP2PnOo) which attempts to condense Ivo Balbaert's [_Getting started with Julia Programming Language_](https://dl.acm.org/citation.cfm?id=2800314) material into a single, hour-long video. The following notes are extended beyond the video's content based on the official Julia 1.1.0 documentation and playing around in Jupyter Notebooks.

In [5]:
# import modules like so
using Printf
using Statistics

In [ ]:
# to install a module, just use Pkg:
# using Pkg
# Pkg.add("PacakageNameToAdd")

#### Printing

In [6]:
x = "Hello World!"

"Hello World!"

In [7]:
# print() will print variables end-to-end
print(x)
print(x)

Hello World!Hello World!

In [8]:
# println() will print variables on seperate lines
println(x)
println(x)

Hello World!
Hello World!

#### Variables and casting

In [9]:
# we can assign and reassign variable values and Julia will automatically change the data type
s = 0
s = "Dog"
println(s)

Dog

In [10]:
# however if we assert a data type, e.g. int8 below, we get a MethodError for using the wrong type
function changeNum()
    x::Int8 = 10
    x = "Dog"
end

changeNum()

MethodError: MethodError: Cannot `convert` an object of type String to an object of type Int8
Closest candidates are:
  convert(::Type{T<:Number}, !Matched::T<:Number) where T<:Number at number.jl:6
  convert(::Type{T<:Number}, !Matched::Number) where T<:Number at number.jl:7
  convert(::Type{T<:Integer}, !Matched::Ptr) where T<:Integer at pointer.jl:23
  ...

In [11]:
# Boolean values can be declared directly like so
isThisTrue = true

true

In [12]:
# we may cast between different types
i1 = Int(3.0) # e.g. float to int
println(i1)

f1 = parse(Float64, "1") # e.g. string to float
println(f1)

i2 = parse(Int8, "1") # e.g. string to int
println(i2)

3
1.0
1

#### Floats and float precision

In [13]:
# floats have default precision to ~14 decimal places
a = 1.111111111111111
b = 0.111111111111111
# a and b have 15 decimal places
# a + b = 1.22222222222222222222, however due to float imprecision,
# the computed value will be slightly wrong at the 15th decimal place
println("a + b = 1.222222222222222 (actual answer)")
println("a + b = ", a + b, " (default precision)")

# you can also round floats to a certain number of digits
ab = round(a + b; digits=14)
println("a + b = ", ab, " (default precision rounded to 14 digits)")

# for higher float precision, we can parse use BigFloat
aPrecise = parse(BigFloat, string(a))
bPrecise = parse(BigFloat, string(b))
println("a + b = ", aPrecise + bPrecise, " (BigFloat precision)")

a + b = 1.222222222222222 (actual answer)
a + b = 1.2222222222222219 (default precision)
a + b = 1.22222222222222 (default precision rounded to 14 digits)
a + b = 1.222222222222222000000000000000000000000000000000000000000000000000000000000008 (BigFloat precision)

#### Characters and strings

In [14]:
# we can store individual characters as ASCII/Unicode
c1 = 'c' # directly, by typing the character surrounded by single quotes
c2 = Char(0x0063) # using the ASCII code in hexadecimal form
c3 = Char(99) # or by using the ASCII code in decimal form
println(c1)
println(c2)
println(c3)

c
c
c

In [15]:
# strings can be defined using double quotes
s1 = "string across a single line" 
s2 = "string\nacross\nmultiple\nlines" # where "\n" is for a new line
println(s1)
println(s2)

string across a single line
string
across
multiple
lines

In [16]:
# we can index strings
println(s1[1]) # N.B. Julia indexing begins at 1
println(s1[end])
println(s1[1:4])

s
e
stri

In [17]:
# we can concatenate strings
println(string(s1, s2)) # by using string()
println(s1 * s2) # or by the "*" operation

string across a single linestring
across
multiple
lines
string across a single linestring
across
multiple
lines

In [18]:
# we can insert numbers into strings directly by prepending with "$"
# and perform in-string arithmetic by "$(a + b)"
i3 = 2
i4 = 3
print("$i3 + $i4 = $(i3 + i4)")

2 + 3 = 5

In [19]:
# multi-line strings can be declared using """
s3 = """string
across
multiple
lines"""

"string\nacross\nmultiple\nlines"

In [20]:
println(findfirst(isequal('i'), "Keigo")) # find index of first character equal to 'i'
println(occursin("key", "monkey")) # evaluate whether the first string is an ordered subset of the second

3
true

#### Conditional statements

In [21]:
# the multi-line strings used above are equivalent to using the "\n" notation
println(s3 == s2) # "==" is a truth evaluation of equivalency

true

In [22]:
# some other truth evaluations on strings
println("abc" > "abcd") # test for lexicographical order
println("abc" > "abb")

false
true

In [23]:
# conditional statements
age = 15

if age >= 3 && age <= 4
    println("Kingergartener")
elseif age >= 5 && age <= 12
    println("Primary school student")
elseif age >=13 && age <= 18
    println("High school student")
else
    println("Not school-aged")
    end # we must always end in Julia!

High school student

In [24]:
# for inline conditionals, we can use the ternary operator
# such operators hav the form "[evaluation] ? [string to print if true] : [string to print if false]"
@printf("true || false = %s\n", true || false ? "true" : "false") # true OR false = true
@printf("!true = %s\n", !true ? "true" : "false") # NOT true = false

true || false = true
!true = false

#### Loops

In [45]:
# we can continue looping over code using a while condition for some global variable, in this case i
# we will initiate i at 1
i = 1

# this loop will print all even numbers i in the range of (1,10)
while i < 20
    if (i % 2) == 0 # % is the modulo operator, so this case is true if i is even
        println(i)
        global i += 1   # since i was created outside of this loop, it lives in the global workspace
                        # to update i, we therefore need to use "global i" 
        continue # continues to the next iteration of the loop
    end
 
    global i += 1
 
    if i >= 10
        break # breaks out of the loop
    end
end

2
4
6
8

In [44]:
# we can iterate over a range, e.g. 1:5, treating each i as an integer in that range
for i = -1:5
    println(i)
end

-1
0
1
2
3
4
5

In [51]:
# we can nest loops within each other
for i = 1:5
    for j = 2:2:10
        println((i, j))
    end
end

(1, 2)
(1, 4)
(1, 6)
(1, 8)
(1, 10)
(2, 2)
(2, 4)
(2, 6)
(2, 8)
(2, 10)
(3, 2)
(3, 4)
(3, 6)
(3, 8)
(3, 10)
(4, 2)
(4, 4)
(4, 6)
(4, 8)
(4, 10)
(5, 2)
(5, 4)
(5, 6)
(5, 8)
(5, 10)

In [52]:
# nested loops can also be written like this (the order of ranges goes from outermost to innermost)
for i = 1:5, j = 2:2:10
    println((i, j))
end

(1, 2)
(1, 4)
(1, 6)
(1, 8)
(1, 10)
(2, 2)
(2, 4)
(2, 6)
(2, 8)
(2, 10)
(3, 2)
(3, 4)
(3, 6)
(3, 8)
(3, 10)
(4, 2)
(4, 4)
(4, 6)
(4, 8)
(4, 10)
(5, 2)
(5, 4)
(5, 6)
(5, 8)
(5, 10)

In [53]:
# we can iterate over an array, treating each i as the ordered value of that array
for i in [3,"two",6.7]
    println(i)
end

3
two
6.7

#### Arrays

In [56]:
# create an array of zeros
a1 = zeros(Int32, 2, 2) # create a 2x2 array of int32 numbers

# create an empty array of Int32s with 5 spaces
a2 = Array{Int32}(undef, 5) 

# Or like this
a3 = Float64[]

# Create a 1D array with the following values
a4 = [1,2,3]

# get a value at index
println(a4[1])

1

In [57]:
# get the last index's value
println(a4[end])

3

In [58]:
# evaluate if a value exists in an array
println(5 in a4)

false

In [60]:
# find the index of the 1st-appearing value equal to 2 in the array a4
println(findfirst(isequal(2), a4))

2

In [61]:
# Find all matches using a generic function
f(a) = (a >= 2) ? true : false
println(findall(f, a4))

[2, 3]

In [62]:
# How many items pass the test
println(count(f, a4))

2

In [63]:
# Get row and column size
println(size(a4))

(3,)

In [64]:
# Get number of elements
println(length(a4))

3

In [65]:
# Sum values
println(sum(a4))

6

In [66]:
# Put values starting at 2nd index
splice!(a4, 2:1, [8,9])
println(a4)

[1, 8, 9, 2, 3]

In [67]:
# Remove items at index 2 through 3
splice!(a4, 2:3)
println(a4)

[1, 2, 3]

In [68]:
# Get max & min value
println(maximum(a4))
println(minimum(a4))

3
1

In [69]:
# Perform calculations on an array without looping
println(a4 * 2)

[2, 4, 6]

In [70]:
# You can use multiple types or Any
a5 = [1,3.14,"Hello"]

# You can store functions
a6 = [sin, cos, tan]
for n in a6
    println(n(0))
end

0.0
1.0
0.0

In [71]:
# Multidimensional array
a7 = [1 2 3; 4 5 6]
for n = 1:2, m = 1:3
    @printf("%d ", a7[n,m])
end
println()

1 2 3 4 5 6

In [72]:
# Get every row in the 2nd column
println(a7[:, 2])

[2, 5]

In [73]:
# Every row 2nd column
println(a7[2, :])

[4, 5, 6]

In [74]:
# Array from a range
a8 = collect(1:5)

5-element Array{Int64,1}:
 1
 2
 3
 4
 5

In [75]:
# Range with a step (step is 2nd value)
# Or backward collect(4:-1:1)
a9 = collect(2:2:10)
for n in a9 print(n) end
println()

246810

In [76]:
# Create an array with a comprehension
a10 = [n^2 for n in 1:5]

# Add value to array
push!(a10, 36)
println(a10)

[1, 4, 9, 16, 25, 36]

In [77]:
# Create a multidimensional array
a11 = [n * m for n in 1:5, m in 1:5]
println(a11)

[1 2 3 4 5; 2 4 6 8 10; 3 6 9 12 15; 4 8 12 16 20; 5 10 15 20 25]

In [78]:
# Generate a 5 by 5 random array with values between 0 - 9
a12 = rand(0:9, 5, 5)
for n = 1:5
    for m = 1:5
        print(a12[n, m])
    end
    println()
end

03128
94176
26105
71701
77528

#### Tuples

In [27]:
# Most array functions work with Tuples except tuple
# values cannot be changed
t1 = (1,2,3,4)
println(t1)

# Get a value
println(t1[1])

# Get all
for i in t1
    println(i)
end

# Multidimensional tuple
t2 = ((1,2), (3,4))
println(t2[1][1])

# Named tuple
t3 = (sue = ("Sue", 100), paul = ("Paul", 23))
println(t3.sue)

(1, 2, 3, 4)
1
1
2
3
4
1
("Sue", 100)

#### Dictionaries

In [28]:
# Dictionaries are key value pairs where the key moust be
# unique
d1 = Dict("pi"=>3.14, "e"=>2.718)

# Get value
println(d1["pi"])

# Add a kv
d1["golden"] = 1.618

# Delete a kv
delete!(d1, "pi")

# Check if key exists
println(haskey(d1, "pi"))

# Check for key & value
println(in(("pi"=>3.14)))

# Display all keys
println(keys(d1))

# Display all values
println(values(d1))

# Display both
for kv in d1
    println(kv)
end

# Control display of kv
for(key, value) in d1
    println(key, " : ", value)
end

3.14
false
Base.Fix2{typeof(in),Pair{String,Float64}}(in, "pi" => 3.14)
["golden", "e"]
[1.618, 2.718]
"golden" => 1.618
"e" => 2.718
golden : 1.618
e : 2.718

#### Sets

In [29]:
# Sets are arrays with all unique values
st1 = Set(["Jim", "Pam", "Jim"])
println(st1)

# Add a value
push!(st1, "Michael")

# Check for value
println(in("Dwight", st1))

# Combine sets
st2 = Set(["Stanley", "Meredith"])
println(union(st1, st2))

# Every item both sets have
println(intersect(st1, st2))

# Items in 1st, but not 2nd
println(setdiff(st1, st2))

Set(["Pam", "Jim"])
false
Set(["Pam", "Stanley", "Jim", "Michael", "Meredith"])
Set(String[])
Set(["Pam", "Jim", "Michael"])

#### Functions

In [30]:
# This is a single expression function
getSum(x,y) = x + y
x, y = 1, 2
@printf("%d + %d = %d\n", x, y, x+y)

# Multiple expression functions
# You can asign default values
function canIVote(age=16)
    if age > 18
        println("Can Vote")
    else
        println("Can't Vote")
    end
end
canIVote(43)

# Arguments are pass by value
v1 = 5
function changeV1(v1)
    v1 = 10
end
changeV1(v1)
println(v1)

# You can use globals inside functions
function changeV12()
    global v1 = 10
end
changeV12()
println(v1)

# Variable arguments
function getSum2(args...)
    sum = 0
    for a in args
        sum += a
    end
    println(sum)
end
getSum2(1,2,3,4)

# Return multiple values
function next2(val)
    return (val + 1, val + 2)
end
println(next2(4))

# Functions that return functions
function makeMultiplier(num)
    return function (x) return x * num end
end

mult3 = makeMultiplier(3)
println(mult3(6))

# Handle different types of arguments
function getSum3(num1::Number, num2::Number)
    return num1 + num2
end

function getSum3(num1::String, num2::String)
    return parse(Int32, num1) + parse(Int32, num2)
end

f1 = parse(Float64,"1")

println("5 + 4 = ", getSum3(5,4))
println("5 + 4 = ", getSum3("5","4"))

1 + 2 = 3
Can Vote
5
10
10
(5, 6)
18
5 + 4 = 9
5 + 4 = 9

#### In-line aka 'anonymous' aka 'generic' functions

In [31]:
# Functions with no name that are used inline
# Map applies a function to each item
v2 = map(x -> x * x, [1,2,3])
println(v2)

# Add arrays
v3 = map((x,y) -> x + y, [1,2], [3,4])
println(v3)

# Reduce uses a function multiple times for 1 result
v4 = reduce(+, 1:100)
println(v4)

# Get longest word in a sentence
sentence = "This is a string"
# Convert string to array
sArray = split(sentence)
longest = reduce((x, y) -> length(x) > length(y) ? x : y, sArray )
println(longest)

[1, 4, 9]
[4, 6]
5050
string

#### Mathematical expressions

In [32]:
@printf("5 + 4 = %d\n", (5 + 4))
@printf("5 - 4 = %d\n", (5 - 4))
@printf("5 * 4 = %d\n", (5 * 4))
@printf("5 / 4 = %d\n", (5 / 4))
println("5 % 4 = ", (5 % 4))
@printf("5 ^ 4 = %d\n", (5 ^ 4))

@printf("round(3.5) = %d\n", round(3.5))
@printf("floor(3.5) = %d\n", floor(3.5))
@printf("ceil(3.5) = %d\n", round(3.5))
@printf("abs(-3.5) = %d\n", abs(-3.5))
@printf("sqrt(100) = %d\n", sqrt(100))
@printf("cbrt(100) = %d\n", cbrt(100))
@printf("hypot(90,90) = %d\n", hypot(90,90))
@printf("exp(2) = %d\n", exp(2))
@printf("log(100) = %d\n", log(100))
@printf("log2(100) = %d\n", log2(100))
@printf("log10(100) = %d\n", log10(100))

# Trig Functions : sin, cos, tan, cot, sec, csc
# sinh, cosh, tanh, coth, sech, csch
# asin, acos, atan, acot, asec, acsc
# asinh, acosh, atanh, acoth, asech, acsch
# sinc, cosc

# Shortcuts available += -= *= /= ^=

# You can imply multiplication without *
x = 5
println(2x)

# Dot operators perform operations on arrays
a13 = [1,2,3]
println(a13 .* 3)

5 + 4 = 9
5 - 4 = 1
5 * 4 = 20
5 / 4 = 1
5 % 4 = 1
5 ^ 4 = 625
round(3.5) = 4
floor(3.5) = 3
ceil(3.5) = 4
abs(-3.5) = 4
sqrt(100) = 10
cbrt(100) = 5
hypot(90,90) = 127
exp(2) = 7
log(100) = 5
log2(100) = 7
log10(100) = 2
10
[3, 6, 9]

#### Enumeration

In [33]:
@enum Color begin
    red = 1
    blue = 2
    green = 3
end

favColor = green::Color
println(favColor)

green

#### Symbols

In [34]:
# Symbols are immutable strings that represent
# a variable as data
:Derek
println(:Derek)

# They are commonly used as keys with dictionaries
d2 = Dict(:pi=>3.14, :e=>2.718)
println(d2[:pi])

Derek
3.14

#### Structs

In [35]:
# Structs are composite types, or a type that contains
# many fields
struct Customer
    name::String
    balance::Float32
    id::Int
end

# Create a Customer object
bob = Customer("Bob Smith", 10.50, 123)
println(bob.name)

# Structs by default are immutable
# ERROR bob.name = "Sue Smith"
# You could change that with mutable struct Customer

Bob Smith

#### Abstract types

In [36]:
# Abstract types can't be instantiated like Structs
# but they can have subtypes
abstract type Animal end

struct Dog <: Animal
    name::String
    bark::String
end

struct Cat <: Animal
    name::String
    meow::String
end

bowser = Dog("Bowser", "Ruff")
muffin = Cat("Muffin", "Meow")

function makeSound(animal::Dog)
    println("$(animal.name) says $(animal.bark)")
end

function makeSound(animal::Cat)
    println("$(animal.name) says $(animal.meow)")
end

makeSound(bowser)
makeSound(muffin)

Bowser says Ruff
Muffin says Meow

#### Exception handling & user input

In [37]:
# Throw and handle errors
print("Enter a number ")
num1 = chomp(readline())
 
print("Enter a number ")
num2 = chomp(readline())

try
    val = (parse(Int32, num1)) / (parse(Int32, num2))
    if (val == Inf)
        error("Can't divide by zero")
    else
        println(val)
    end
catch e
    println(e)
end

Enter a number stdin> 1
Enter a number stdin> 2
0.5

#### Reading and writing files

In [80]:
# Open file for writing
open("random.txt", "w") do file
    write(file, "Here is some random text\nIt is great\n")
end

# Open a file for reading
open("random.txt") do file
    # Read whole file into a string
    data = read(file, String)
    println(data)
end

Here is some random text
It is great

In [79]:
open("random.txt") do file
    # Read each line 1 at a time
    for line in eachline(file)
        println(line)
    end
end

Here is some random text
It is great

#### Macros

In [39]:
# Macros generate code before the program is run
 
# Execute passed code a certain number of times
macro doMore(n, exp)
  quote
 
      # esc hides what it contains until everything
      # is ready to be executed
    for i = 1:$(esc(n))
      $(esc(exp))
    end
  end
end

@doMore(2, println("Hello"))
 
# Create a do while loop
macro doWhile(exp)
    # Assert that while is the first element passed
  @assert exp.head == :while
 
  # quote is the same as begin ... end
  esc(quote
 
  # Contains the body of the loop
    $(exp.args[2])
    $exp
  end)
end

z = 0
@doWhile while z < 10
    global z += 1
    println(z)
end

Hello
Hello
1
2
3
4
5
6
7
8
9
10